target/classes/chicagocontractdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:chicago-contracts="http://www.mulesoft.org/schema/mule/chicago-contracts" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/chicago-contracts http://www.mulesoft.org/schema/mule/chicago-contracts/current/mule-chicago-contracts.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <chicago-contracts:config name="ChicagoContracts__Configuration" doc:name="ChicagoContracts: Configuration"/>
    <flow name="chicagocontractdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/chicago/contracts/{choicetype}/{choicevalue}" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger" message="#[message.inboundProperties.'http.query.string']"/>
        <set-variable doc:name="Variable" value="#[message.inboundProperties.'http.uri.params'.choicevalue]" variableName="choicevalue"/>
        <logger level="INFO" doc:name="Logger" message="choicevalue : #[flowVars.choicevalue]"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.uri.params'.choicetype=='startDate']">
                <chicago-contracts:find-on-start-date config-ref="ChicagoContracts__Configuration" startDate="#[flowVars.choicevalue]" doc:name="ChicagoContracts"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.choicetype=='endDate']">
                <chicago-contracts:find-on-end-date config-ref="ChicagoContracts__Configuration" end_date="#[flowVars.choicevalue]" doc:name="ChicagoContracts"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.choicetype=='vendorId']">
                <chicago-contracts:find-on-vendor-id config-ref="ChicagoContracts__Configuration" vendorId="#[flowVars.choicevalue]" doc:name="ChicagoContracts"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.choicetype=='zip']">
                <chicago-contracts:find-on-zip config-ref="ChicagoContracts__Configuration" zip="#[flowVars.choicevalue]" doc:name="ChicagoContracts"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
